.row{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
.info{
	flex-grow: 1;
	margin-left: 20px;
	margin-right: 20px;
}
.content2{
	font-size: 2em;
	margin-left: 10px;
	padding-left: 10%;
	padding-right: 10%;
}
.desc{
	flex-grow: 1;
	min-width: 100px;
}
.dat{
	color: black;
}
.desc{
	color: black;
	text-align: justify;
}
.boton1{
	font-size: 1.1em;
}
.video{
	width: 560px; 
	height: 315px;
}
#video{
	margin-top: 50px;
}

@media screen and (max-width: 642px){
	.row{
		flex-flow: column;
		justify-content: center;
		align-items: center;
	}
	.desc{
		text-align: left;
	}
	.video{
		width: 100%;
	}
}