*{
	padding: 0px;
	margin: 0px;
}
body{
	background-color: white;
	padding-top: 100px;
}
.flayer{
	width: 200px;
	height: 268px;
}
.content{
	width: 100%;
	position: absolute;

}
.strong{
	font-weight: bold;
	color: #233142;
}
#header{
	width: 100%;
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: #264162;
	font-size: 1.6em;
	color: white;
	position: fixed;
	top: 0px; 
	left: 0px; 
	z-index: 1;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;

	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: space-between;
}
#header a{
	text-decoration: none;
	color: white;
	box-shadow: 1px 1px 6px rgba(0,0,0,0.5), -1px -1px 4px rgba(0,0,0,0.5);
	padding: 5px;
	transition: all .2s linear;
}
#header a:hover{
	background-color: white;
	color: #264162;
	box-shadow: 1px 1px 6px rgba(0,0,0,0.8), -1px -1px 4px rgba(0,0,0,0.8);
}
#header a:active{
	transform: scale(.9,.9);
}

.nav1{
	margin-left: 10px;
	display: flex;
	align-items: center;
}
.nav2{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}
#closeSession{
	margin-left: 20px;
	margin-right: 10px;
	
}
.flayer img{
	width: 200px;
	max-height: 268px;
	margin: 0px;
}
.boton1{
	border: none;
	font-size: 1.7em;
	background-color: #233142;
	color: white;
	padding: 10px;
	margin-top: 20px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5), -1px -1px 3px rgba(0,0,0,0.5);
	transition: all .1s linear;
}
.boton1:hover{
	transform: scale(1.1,1.1);
	box-shadow: 1px 1px 6px rgba(0,0,0,0.8), -1px -1px 4px rgba(0,0,0,0.8);
}
.boton1:active{
	transform: scale(1,1);
}

@media screen and (max-width: 474px){
#header{
	flex-flow: column;
	justify-content: center;
}
.nav1{
	justify-content: center;
}
.nav2{
	justify-content: center;
	flex-flow: column;
}
}